<ul>
	<li><a href='https://muler.pythonanywhere.com' target='_blank' class='postlist-link'>Pharmacology study aid</a></li>
	<li><a href='https://ststats.pythonanywhere.com' target='_blank' class='postlist-link'>Interactive charts of UK medical training competition ratios</a></li>
	<li><a href='https://vellum.tachy.org' target='_blank' class='postlist-link'>Interactive list of nonfiction books reviewed by academics</a></li>
</ul>